<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Seja bem vindo!</ion-title>
    <p class="subTitle">Cadastre-se para desfrutar do app</p>
  </div>

  <form [formGroup]="regForm" novalidate >

    <div class="ion-padding">

      <ion-item>
        <ion-input formControlName="nome" placeholder="Nome" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm.controls?.['nome'].touched && this.regForm.controls?.['nome'].invalid">
        <ion-text class="exigencia" *ngIf="errorControl.nome.errors?.required">
          O nome é obrigatório!
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="email" placeholder="Email" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm.controls?.['email'].touched && this.regForm.controls?.['email'].invalid">
        <ion-text class="exigencia" *ngIf="errorControl.email.errors?.required">
          O email é obrigatório!
        </ion-text>
        <ion-text class="exigencia" *ngIf="errorControl.email.errors?.pattern">
          Insira um email válido!
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="password" placeholder="Senha" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm.controls?.['password'].touched && this.regForm.controls?.['password'].invalid">
        <ion-text class="exigencia" *ngIf="errorControl.password.errors?.required">
          A senha é obrigatória!
        </ion-text>
        <ion-text class="exigencia" *ngIf="errorControl.password.errors?.pattern">
          * 1 Número
          * 1 letra maiúscula
          * 8 dígitos
        </ion-text>
      </div>

      <div class="user-novo">
        <p>Já possui uma conta?<a [routerLink]="['/login']" style="color: #820086;">Entre aqui</a></p>
      </div>
    </div>

    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 45px;">
      <ion-fab-button (click)="signUp()" > 
        <ion-icon name="chevron-forward">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>


</ion-content>
