.input{
    font-size: 350;
}

ion-item{
    --background:#f1f1f1;
    border-radius: 15px;
    margin-bottom: 20px;
}

.header{
    margin-top: 120px;
    margin-bottom: 75px;
    text-align: center;
    .subTitle{
        color: rgb(190, 190, 190);
        font-size: 1rem;
    }   
    title{
        font-size: 2rem;
    }
}

ion-content {
    --background: #ffff00 url('/assets/fundo-de-luzes-gradientes.jpg') no-repeat center center / cover !important;
}

.title{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.subTitle{
    text-align: center;
    font-size: 28px;
    font-style:italic;
    font-weight: 800;
}