<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Digite seu Email
      <p class="subTitle">para receber uma nova senha </p>
    </ion-title>
  </div>
  <div>
    <ion-item>
        <ion-input [(ngModel)]="email" placeholder="Email" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 45px;">
        <ion-fab-button (click)="resetPassword()" > 
          <ion-icon name="chevron-forward">
          </ion-icon>
        </ion-fab-button>
      </ion-fab>
  </div>
</ion-content>
