#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.nameDev{
  padding-left: 7em;
}

.searchBar{
  --ion-background-color: #820086;
  color: white;
  border-radius: 70px;
}
.cardStyle{
  border-radius: 30px;
  --ion-background-color: #820086;

  span{
    color: white;
    font-weight: 300;
  }
  #temp{
    font-weight: 300;
    font-size: 4em;
    margin: 5px;
  }
  #locationIcon{
    color: orange;
  }
  #date{
    color:rgb(240, 192, 59);
  }

}

.container{
  text-align: center;
  margin-top: 60%;
}

ion-content {
  --background: #ffff00 url('/assets/fundo-de-luzes-gradientes.jpg') no-repeat center center / cover !important;
}

.title{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.subTitle{
  text-align: center;
  font-size: 28px;
  font-style:italic;
  font-weight: 800;
}

.erroImg{
  text-align: center;
  margin: auto;
  display: block;
}

.spanErro{
  color: rgb(180, 0, 0);
  font-size: 17px;
}

.titleMenu{
  margin-left: 66px;
  font-weight: 600;
}

.authors{
        bottom: 0;
        position: fixed;
        width: 90%;
        text-align: center;
}